<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img
      src="{{data.img}}"
      data-edit="img"
      title="{{data.name}}"
      height="64"
      width="64"
    />
    <h1>
      <input name="name" type="text" value="{{data.name}}" placeholder="Nom" />
    </h1>
  </header>
  <div>
    <table>
      <tr>
        <th>Niveau</th>
        <th>PV</th>
        <th>Mana</th>
        <th>Adversité</th>
        <th>Résistance</th>
        <th>Vitesse</th>
      </tr>
      <tr>
        <td>
          <input
            name="system.niveau"
            type="number"
            value="{{data.system.niveau}}"
          />
        </td>
        <td>
          <input
            name="system.pv"
            type="number"
            data-dtype="Number"
            value="{{data.system.pv}}"
          />
        </td>
        <td>
          <input
            name="system.mana"
            type="number"
            data-dtype="Number"
            value="{{data.system.mana}}"
          />
        </td>
        <td>
          <input
            name="system.advers"
            type="number"
            data-dtype="Number"
            value="{{data.system.advers}}"
          />
        </td>
        <td>
          <input
            name="system.resist"
            type="number"
            data-dtype="Number"
            value="{{data.system.resist}}"
          />
        </td>
        <td>
          <input
            name="system.vitesse"
            type="number"
            data-dtype="Number"
            value="{{data.system.vitesse}}"
          />
        </td>
      </tr>
    </table>
    <br />
    <div class="stat vig">
      <table>
        <tr>
          <th>Vigueur</th>
          <th>Force</th>
          <th>Ténacité</th>
          <th>Vitalité</th>
        </tr>
        <tr>
          <td>
            <input
              name="system.vigor"
              type="number"
              value="{{data.system.vigor}}"
            />
          </td>
          <td>
            <input
              name="system.strength"
              type="number"
              data-dtype="Number"
              value="{{data.system.strength}}"
            />
          </td>
          <td>
            <input
              name="system.tenacity"
              type="number"
              data-dtype="Number"
              value="{{data.system.tenacity}}"
            />
          </td>
          <td>
            <input
              name="system.vitality"
              type="number"
              data-dtype="Number"
              value="{{data.system.vitality}}"
            />
          </td>
        </tr>
      </table>
    </div>
    <div class="stat dex">
      <table>
        <tr>
          <th>Dextérité</th>
          <th>Agilité</th>
          <th>Habileté</th>
          <th>Discrétion</th>
        </tr>
        <tr>
          <td>
            <input
              name="system.dexterity"
              type="number"
              value="{{data.system.dexterity}}"
            />
          </td>
          <td>
            <input
              name="system.agility"
              type="number"
              data-dtype="Number"
              value="{{data.system.agility}}"
            />
          </td>
          <td>
            <input
              name="system.handDex"
              type="number"
              data-dtype="Number"
              value="{{data.system.handDex}}"
            />
          </td>
          <td>
            <input
              name="system.stealth"
              type="number"
              data-dtype="Number"
              value="{{data.system.stealth}}"
            />
          </td>
        </tr>
      </table>
    </div>
    <div class="stat int">
      <table>
        <tr>
          <th>Intelligence</th>
          <th>Logique</th>
          <th>Concentration</th>
          <th>Culture</th>
        </tr>
        <tr>
          <td>
            <input
              name="system.intelligence"
              type="number"
              value="{{data.system.intelligence}}"
            />
          </td>
          <td>
            <input
              name="system.logic"
              type="number"
              data-dtype="Number"
              value="{{data.system.logic}}"
            />
          </td>
          <td>
            <input
              name="system.concentration"
              type="number"
              data-dtype="Number"
              value="{{data.system.concentration}}"
            />
          </td>
          <td>
            <input
              name="system.culture"
              type="number"
              data-dtype="Number"
              value="{{data.system.culture}}"
            />
          </td>
        </tr>
      </table>
    </div>
    <div class="stat wis">
      <table>
        <tr>
          <th>Sagesse</th>
          <th>Perspicacité</th>
          <th>Jugement</th>
          <th>Volonté</th>
        </tr>
        <tr>
          <td>
            <input
              name="system.wisdom"
              type="number"
              value="{{data.system.wisdom}}"
            />
          </td>
          <td>
            <input
              name="system.perception"
              type="number"
              data-dtype="Number"
              value="{{data.system.perception}}"
            />
          </td>
          <td>
            <input
              name="system.insight"
              type="number"
              data-dtype="Number"
              value="{{data.system.insight}}"
            />
          </td>
          <td>
            <input
              name="system.will"
              type="number"
              data-dtype="Number"
              value="{{data.system.will}}"
            />
          </td>
        </tr>
      </table>
    </div>
    <div class="stat cha">
      <table>
        <tr>
          <th>Charisme</th>
          <th>Charme</th>
          <th>Influence</th>
          <th>Tromperie</th>
        </tr>
        <tr>
          <td>
            <input
              name="system.charisma"
              type="number"
              value="{{data.system.charisma}}"
            />
          </td>
          <td>
            <input
              name="system.charm"
              type="number"
              data-dtype="Number"
              value="{{data.system.charm}}"
            />
          </td>
          <td>
            <input
              name="system.influence"
              type="number"
              data-dtype="Number"
              value="{{data.system.influence}}"
            />
          </td>
          <td>
            <input
              name="system.deception"
              type="number"
              data-dtype="Number"
              value="{{data.system.deception}}"
            />
          </td>
        </tr>
      </table>
    </div>
    <textarea name="system.skill1" type="text" class="talents">
{{data.system.skill1}}</textarea
    >
    <textarea name="system.skill2" type="text" class="talents">
{{data.system.skill2}}</textarea
    >
    <textarea name="system.skill3" type="text" class="talents">
{{data.system.skill3}}</textarea
    >
    <textarea name="system.skill3" type="text">{{data.system.skill3}}</textarea>
    <textarea name="system.skill3" type="text">{{data.system.skill3}}</textarea>
  </div>
</form>
