<form class="sheet" autocomplete="off">
  <header class="sheet-header">
    <img
      src="{{data.img}}"
      data-edit="img"
      title="{{data.name}}"
      height="64"
      width="64"
    />
    <h1>
      <input name="name" type="text" value="{{data.name}}" placeholder="Nom" />
    </h1>
  </header>
  <div class="sheet-body">
    <div class="all-stats">
      <div class="sub-stats">
        <div class="sub-stats-title">
          <p>Vigueur</p>
          <input
            name="system.vigor"
            type="text"
            value="{{data.system.vigor}}"
          />
        </div>
        <div class="stats-grid vig">
          <p>Force</p>
          <input
            name="system.strength"
            type="text"
            value="{{data.system.strength}}"
          />
          <p>Ténacité</p>
          <input
            name="system.tenacity"
            type="text"
            value="{{data.system.tenacity}}"
          />
          <p>Vitalité</p>
          <input
            name="system.vitality"
            type="text"
            value="{{data.system.vitality}}"
          />
        </div>

        <div class="sub-stats-title">
          <p>Dextérité</p>
          <input
            name="system.dexterity"
            type="text"
            value="{{data.system.dexterity}}"
          />
        </div>
        <div class="stats-grid dex">
          <p>Agilité</p>
          <input
            name="system.agility"
            type="text"
            value="{{data.system.agility}}"
          />
          <p>Habileté</p>
          <input
            name="system.handDex"
            type="text"
            value="{{data.system.handDex}}"
          />
          <p>Discrétion</p>
          <input
            name="system.stealth"
            type="text"
            value="{{data.system.stealth}}"
          />
        </div>

        <div class="sub-stats-title">
          <p>Intelligence</p>
          <input
            name="system.intelligence"
            type="text"
            value="{{data.system.intelligence}}"
          />
        </div>
        <div class="stats-grid int">
          <p>Logique</p>
          <input
            name="system.logic"
            type="text"
            value="{{data.system.logic}}"
          />
          <p>Concentration</p>
          <input
            name="system.concentration"
            type="text"
            value="{{data.system.concentration}}"
          />
          <p>Culture</p>
          <input
            name="system.culture"
            type="text"
            value="{{data.system.culture}}"
          />
        </div>

        <div class="sub-stats-title">
          <p>Sagesse</p>
          <input
            name="system.wisdom"
            type="text"
            value="{{data.system.wisdom}}"
          />
        </div>
        <div class="stats-grid wis">
          <p>Perspicacité</p>
          <input
            name="system.perception"
            type="text"
            value="{{data.system.perception}}"
          />
          <p>Jugement</p>
          <input
            name="system.insight"
            type="text"
            value="{{data.system.insight}}"
          />
          <p>Volonté</p>
          <input name="system.will" type="text" value="{{data.system.will}}" />
        </div>

        <div class="sub-stats-title">
          <p>Charisme</p>
          <input
            name="system.charisma"
            type="text"
            value="{{data.system.charisma}}"
          />
        </div>
        <div class="stats-grid cha">
          <p>Charme</p>
          <input
            name="system.charm"
            type="text"
            value="{{data.system.charm}}"
          />
          <p>Influence</p>
          <input
            name="system.influence"
            type="text"
            value="{{data.system.influence}}"
          />
          <p>Tromperie</p>
          <input
            name="system.deception"
            type="text"
            value="{{data.system.deception}}"
          />
        </div>
      </div>

      <div class="main-stats">
        <div class="label"><p>Niveau</p></div>
        <div class="value">
          <input
            name="system.niveau"
            type="text"
            value="{{data.system.niveau}}"
          />
        </div>

        <div class="label"><p>PV</p></div>
        <div class="value">
          <input name="system.pv" type="text" value="{{data.system.pv}}" />
        </div>

        <div class="label"><p>Mana</p></div>
        <div class="value">
          <input name="system.mana" type="text" value="{{data.system.mana}}" />
        </div>

        <div class="label"><p>Adversité</p></div>
        <div class="value">
          <input
            name="system.advers"
            type="text"
            value="{{data.system.advers}}"
          />
        </div>

        <div class="label"><p>Résistance</p></div>
        <div class="value">
          <input
            name="system.resist"
            type="text"
            value="{{data.system.resist}}"
          />
        </div>

        <div class="label"><p>Vitesse</p></div>
        <div class="value">
          <input
            name="system.vitesse"
            type="text"
            value="{{data.system.vitesse}}"
          />
        </div>
      </div>

      <div class="talents">
        <textarea
          name="system.skill1"
          type="text"
          placeholder="talent"
          class="talent"
        >
{{data.system.skill1}}</textarea
        >
        <textarea
          name="system.skill2"
          type="text"
          placeholder="talent"
          class="talent"
        >
{{data.system.skill2}}</textarea
        >
        <textarea
          name="system.skill3"
          type="text"
          placeholder="talent"
          class="talent"
        >
{{data.system.skill3}}</textarea
        >
        <textarea
          name="system.skill4"
          type="text"
          placeholder="talent"
          class="talent"
        >
{{data.system.skill4}}</textarea
        >
      </div>

      <div class="abilities">
        <textarea
          name="system.skill5"
          type="text"
          placeholder="compétence"
          class="ability"
        >
{{data.system.skill5}}</textarea
        >
        <textarea
          name="system.skill6"
          type="text"
          placeholder="compétence"
          class="ability"
        >
{{data.system.skill6}}</textarea
        >
        <textarea
          name="system.skill7"
          type="text"
          placeholder="compétence"
          class="ability"
        >
{{data.system.skill7}}</textarea
        >
        <textarea
          name="system.skill8"
          type="text"
          placeholder="compétence"
          class="ability"
        >
{{data.system.skill8}}</textarea
        >
      </div>
    </div>
  </div>
</form>
