<div id="character-{{_id}}-attributes" class="attributes">
  {{#each data.system.attributes as |attribute attribute_name|}}
  <div
    id="character-{{../_id}}-attributes-{{attribute_name}}"
    class="attribute"
  >
    <div
      id="character-{{../_id}}-attributes-{{attribute_name}}-title"
      class="attributes-value"
    >
      <div class="stripe">
        <span
          class="attribute-label roll-die-attribute rollable-text"
          data-roll-attribute="{{attribute_name}}"
        >
          {{localize attribute.label}}
        </span>
      </div>
      <div class="stripe-tooth-body {{attribute_name}}">
        {{#attribute_counter attribute.skills}}
        <input
          type="radio"
          id="{{../_id}}-{{attribute_name}}-value-0"
          name="system.attributes.{{attribute_name}}.value"
          value="0"
          checked="checked"
          disabled
        />

        {{#times_from 1 3}}
        <input
          type="radio"
          id="{{../../_id}}-{{attribute_name}}-value-{{this}}"
          name="system.attributes.{{attribute_name}}.value"
          value="{{this}}"
          disabled
        />
        <label for="{{../../_id}}-{{attribute_name}}-value-{{this}}"></label>
        {{/times_from}} {{/attribute_counter}}
      </div>
    </div>

    <!-- Skills -->
    {{#each attribute.skills as |skill skill_name|}}
    <div class="flex-horizontal">
      <div class="attributes-container {{attribute_name}}">
        {{#multiboxes skill.value}} {{#times_from 0 4}}
        <input
          type="radio"
          id="attributes-{{../../../_id}}-{{skill_name}}-{{this}}"
          name="system.attributes.{{attribute_name}}.skills.{{skill_name}}.value"
          value="{{this}}"
        />
        <label
          for="attributes-{{../../../_id}}-{{skill_name}}-{{this}}"
        ></label>
        {{/times_from}}

        <div
          class="attribute-skill-label roll-die-attribute rollable-text"
          data-roll-attribute="{{skill_name}}"
        >
          {{localize skill.label}}
        </div>
        {{/multiboxes}}
      </div>
    </div>
    {{/each}}
  </div>
  {{/each}}

  <!-- Attune -->
  <div id="character-{{../_id}}-attributes-attune" class="attribute">
    <div
      id="character-{{../_id}}-attributes-attune-title"
      class="attributes-value"
    >
      <div class="stripe">
        <span
          class="attribute-label roll-die-attribute rollable-text"
          data-roll-attribute="attune"
        >
          {{localize data.system.attune.label}}
        </span>
        <button
          class="attune-button edit-actor-value"
          data-resource="attune.amount"
          data-resource-value="1"
          data-max-value="5"
        >
          +
        </button>
        <button
          class="attune-button edit-actor-value"
          data-resource="attune.amount"
          data-resource-value="-1"
        >
          -
        </button>
      </div>

      {{#multiboxes data.system.attune.value}}
      <div class="stripe-tooth-body attune">
        <input
          type="radio"
          id="{{../_id}}-attune-value-0"
          name="system.attune.value"
          value="0"
          checked="checked"
        />
        <label for="{{../../_id}}-attune-value-0"></label>
        {{#times_from 1 3}}
        <input
          type="radio"
          id="{{../../_id}}-attune-value-{{this}}"
          name="system.attune.value"
          value="{{this}}"
        />
        <label for="{{../../_id}}-attune-value-{{this}}"></label>
        {{/times_from}}
      </div>
      {{/multiboxes}}
    </div>

    <!-- Skills -->
    {{#each data.system.attune.skills as |skill skill_name|}} {{#ifCond
    skill_name '<=' ../data.system.attune.amount}}
    <div class="flex-horizontal">
      <div class="attributes-container attune">
        {{#multiboxes skill.value}} {{#times_from 0 4}}
        <input
          type="radio"
          id="attributes-{{../../../_id}}-{{skill_name}}-{{this}}"
          name="system.attune.skills.{{skill_name}}.value"
          value="{{this}}"
        />
        <label
          for="attributes-{{../../../_id}}-{{skill_name}}-{{this}}"
        ></label>
        {{/times_from}}

        <div
          class="attribute-skill-label roll-die-attribute rollable-text"
          data-roll-attribute="{{skill_name}}"
        >
          <input
            type="text"
            name="system.attune.skills.{{skill_name}}.label"
            value="{{this.label}}"
          />
        </div>
        {{/multiboxes}}
      </div>
    </div>
    {{/ifCond}} {{/each}}
  </div>
</div>
